
       
* {
    font-family: 'Orbitron', sans-serif;
}


/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Set the background color and text color for the whole page */
body {
    background-image: url("/Main-background.svg");
    background-color: #000000;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    font-style: normal;
}
#microsoft,#google,#amazon,#flipkart,#atlassian{
    color: white;
    margin-top: 50px;
}

/* Set the width and margin for the main container */
.container {
    width: 100%;
    margin: 0 auto;
}
.tech{
   text-align: center;
   color: #fff;
   margin-top: 3px;

}
.tech h3{
    font-weight: 200;
  
 
}


.tech h1{

    font-weight: 900;
    font-size: 15vh;
    text-shadow: 6px 6px rgba(59,130,246,.5);
    margin:50px auto 17px ;
    
    -webkit-text-stroke: 2px rgb(179, 204, 246);
}

/* Set the display, align-items, and margin for the header section */
.header {
    border: 2px solid rgba(59, 131, 246, 0.364);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0); */
}

.header h3 {
    margin: 0;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

/* .login {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} */
/* Styling for header section hyperlinks */
.header-link {
    text-decoration: none;
    color: #5e5c5c;
}

.header-link:hover {
    color: #6d6f71; /* Change color on hover */
}

.login {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove default underline */
}

.login:hover {
    background-color: #2563eb; /* Change color on hover */
}


/* Set the font-size, font-weight, and text-transform for the title */
.title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Set the display, grid-template-columns, gap, and margin for the events section */
/* .events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px 0;
   
} */

/* Set the background-color, border-radius, box-shadow, and overflow for the event card */
.event-card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border:2px #f0f0f0;
    box-shadow: 0px 0px 10px rgba(242, 238, 238, 0.1);
    overflow: hidden;
    margin: auto;
    
}

/* Set the height and object-fit for the event image */
.event-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* Set the padding for the event info */
.event-info {
    padding: 20px;
}

/* Set the font-size, font-weight, and margin for the event name */
.event-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Set the font-size, font-weight, color, and margin for the event date */
.event-date {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Set the font-size, line-height, and margin for the event desc */
.event-desc {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Set the display, padding, background-color, color, border, border-radius, text-decoration, and cursor for the event link */
.event-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* Set the background-color and color for the event link on hover */
.event-link:hover {
    background-color: rgba(59,130,246,1.0);
    color: #fff;
}
button{
    padding: 6px;
    outline:none;
    font-size: 20px;
    border-radius: 3%;
}
#scroller {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x:hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
  }
  #scroller::-webkit-scrollbar {
    display: none;
  }
  .scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  #scroller h4 {
    display: inline-block;
    font-size: 60px;
    font-weight: 900;
    
    margin-right: 20px;
    transition: all linear 0.3s;
    color: black;
    -webkit-text-stroke: 2px rgba(59,130,246,1.0);
  }


@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
#scroller h4:hover{
    color: rgba(59,130,246,1.0);
    -webkit-text-stroke: 2px rgba(59,130,246,1.0);
  }



  .footer {
    background-color: rgba(59,130,246,0.1);
    border: #3b82f6;
    border-radius: 6px;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin: 5px 0;
}

.element{
    margin: 55px auto;
    width: 70vw;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    float: center;
    background-image: url("/element.png");
}


.badge-base LI-profile-badge:hover{
    box-shadow: 50px blue;
}
.profile-card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    background-color: #ccccccd5;
    font-family: Arial, Helvetica, sans-serif;
  }

  .profile-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .profile-card p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .profile-card button {
    padding: 10px 20px;
    background-color: #0077B5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .profile-card button:hover {
    background-color: #005e8e;
  }
  .event1{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
.event2{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
.event3,.event4,.event5{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
.profile-card {
    display: inline-block;
    vertical-align: top;
    width: 300px; /* Adjust as needed */
    margin-right: 10px; /* Adjust spacing between cards */
}
/* new */
header {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
      url("topi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  nav {
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
  }
  
  nav .logo {
    width: 10%;
    text-align: center;
    padding-left: 10px;
    /*background: red;*/
  }
  
  nav .menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  nav .menu a {
    /* width: 10%; */
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav .menu a:first-child {
    color: #00b894;
  }
  
  main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    color: white;
  }
  
  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h1 {
    margin: 30px 0 20px 0;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
  }
  
  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  section .btnone {
    /*background: #00b894;*/
    background: #fff;
    color: #000;
  }
  
  .btnone:hover {
    background: #00b894;
    color: white;
  }
  
  section .btntwo {
    background: #00b894;
    color: white;
  }
  
  .btntwo:hover {
    background: #fff;
    color: #000;
  }
  
  .change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
  }
  
  @keyframes changetext {
    0% {
      content: "MicroSoft";
    }
    20% {
      content: "Google";
    }
    35% {
      content: "Amazon";
    }
    60% {
      content: "Flipkart";
    }
    80% {
      content: "Atlassian";
    }
    100% {
      content: "DE Shaw";
    }
  }
  #microsoft {
    width: 200px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    position: relative; 
    padding-left: 40px;/* Required for absolute positioning of child elements */
}
#amazon{
    width: 200px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    position: relative; 
    padding-left: 40px;
}
#google{
    width: 150px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    position: relative; 
    padding-left: 40px;
}
#flipkart{
    width: 150px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    position: relative; 
    padding-left: 40px;
}
#atlassian{
    width: 150px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    position: relative; 
    padding-left: 40px;
}
/* Style for the image */
#microsoft img ,#amazon img,#google img,#flipkart img,#atlassian img{
    width: 100%; /* Make the image fill the width of the div */
    height: 100%; /* Make the image fill the height of the div */
    object-fit: contain; /* Maintain aspect ratio and fit inside the div */
    position: absolute; /* Position the image relative to its containing div */
    top: 0; /* Align the image to the top */
    left: 0; /* Align the image to the left */
}